body {
    background-color: white;
    margin: 47;
}

footer {
    background-color:black;
    color: white;
    text-align: center;
    padding: 90px;
    margin: 10px;
}

header {
    background-color: lightskyblue;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 70px 0;
    flex-wrap: wrap;
}

main { 
    flex: 1;
    padding: 100px;
    margin-top: 100px;
    font-size: 29px;
}

nav {
    display: flex; 
    gap: 20px; 
    font-size: 20px;
}
nav a:hover { 
    font-size: 22px; 
    color: brown; 
}

button { 
    background-color: green; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;  
    font-size: 18px; 
}

button:hover {
    background-color: brown;
}

.image {
    width: 100px;
    height: 175px;
    position: absolute;
    top: 2px;
    left: 0;
    margin: 8px;

}

.contact {
    padding: 280px 0;
}

form textarea { 
    display: block; 
    margin-bottom: 10px; 
}